@{
    Layout = "_Layout2";
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="row mar-bot40">
        <div class="col-md-12">
            <div class="section-header">
                <h2 class="section-heading animated">@ViewData["Title"]</h2>
                <p style="text-align:left;">@ViewData["Message"]</p>
                <p style="text-align:left;">Use this area to provide additional information.</p>
            </div>
        </div>
    </div>
</div>


