
@{
    ViewData["Title"] = "test";
    Layout = "_Layout";
}

<button id="sub" type="submit" class="btn btn-default">Log in</button>
<div id="myalert" class="alert alert-danger collapse">
<a href="#" class="close" data-dismiss="alert">&times;</a>
    <p>ashjbashjb</p>
</div>

<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myalert').hide();
        $('#sub').click(function () {
            $("#myalert").fadeTo(5000, 500).slideUp(500, function () {
                $("#myalert").slideUp(500);
                });
        });
    });
</script>
