@model Test.Model.Artikel

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout2";
}

<div class="container">
    <div class="row mar-bot40">
        <div class="col-md-12">
            <div class="section-header">
                <div class="row">
                    <h2 class="section-heading animated">@Html.DisplayFor(model => model.Judul)</h2>
                    <img src="~/uploads/img/@Html.DisplayFor(model => model.ImageName)" width="100%" alt="@Html.DisplayFor(model => model.ImageName)" />
                    <p style="text-align:left;">@Html.DisplayFor(model => model.Deskripsi)</p>
                </div>
                </div>
            </div>
        </div>
    </div>

